body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.navbar {
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 0.5rem 1.5rem;
      }
    }
  }
}

section {
  &:nth-child(even) {
    background-color: #333646;
  }
  &:nth-child(odd) {
    background-color: #242734;
    box-shadow: 0 0 2rem rgb(26, 26, 26);
  }
  .container {
    .section-title {
      padding: 4.4rem 0 !important;
    }
  }
  overflow-x: hidden;
}
section.hero {
  .container {
    .hero-section {
      position: absolute;
      top: 6rem;
      .hero-title {
        font-size: 4rem;
        font-weight: 600;
        line-height: 3.5rem;
      }
      .social-media {
        a:hover {
          color: rgb(195, 195, 195) !important;
        }
      }
    }
  }
}
.about-typo {
  position: relative;
  img {
    position: relative;
    z-index: 1;
  }
  h1 {
    position: relative;
    font-size: 4rem;
    font-weight: 500;
    &.first {
      z-index: 0;
      top: 4rem;
      left: 3rem;
    }
    &.second {
      z-index: 2;
      bottom: 3rem;
      left: 2.5rem;
    }
  }
}
#skills {
  .container {
    .row {
      .card {
        cursor: default;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}
#works {
  .container {
    .grid {
      margin: 6rem 0;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 7rem;
        text-align: center;
        grid-area: title;
      }
      .more {
        text-align: center;
      }
      .a {
        text-decoration: none;
        color: #fff;
      }
      .card {
        overflow: hidden;
        color: #fff;
        .card-img-overlay {
          display: flex;
          justify-content: space-between;
          .card-title {
            width: 60%;
            font-size: 2.1em;
          }
          .card-text {
            color: rgba(255, 255, 255, 0.8);
            width: 40%;
            text-align: right;
          }
        }
        .card-img {
          transform: scale(1);
          transition: 0.5s;
        }
        &:hover {
          cursor: pointer;
          .card-img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

a:hover {
  .socmed {
    color: rgb(202, 202, 202);
  }
}
footer {
  background-color: #242734;
}
// Responsive Breakpoint
@media only screen and (min-width: 768px) {
  section.hero {
    .container {
      .hero-section {
        top: 15rem;
        .hero-title {
          font-size: 7rem;
          line-height: 6rem;
        }
      }
    }
  }
  .about-typo {
    h1 {
      font-size: 5rem;
      font-weight: 500;
      &.first {
        top: 5rem;
        left: 3rem;
      }
      &.second {
        bottom: 4rem;
        left: 3.5rem;
      }
    }
  }
  #skills {
    .container {
      .row {
        .card {
          img {
            filter: grayscale(100%);
            transform: scale(0.8);
            transition: 0.5s;
          }
          &:hover {
            img {
              filter: grayscale(0%);
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  #works {
    .container {
      .grid {
        display: grid;
        grid-template-areas:
          "title item_1"
          "item_2 item_1"
          "item_2 item_3"
          "more item_3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, minmax(200px, 360px));
        gap: 2% 10%;
        .title {
          text-align: left;
          height: 250px;
          align-self: stretch;
          grid-area: title;
        }
        .item-1 {
          grid-area: item_1;
        }
        .item-2 {
          grid-area: item_2;
        }
        .item-3 {
          grid-area: item_3;
        }
        .more {
          grid-area: more;
          text-align: left;
          place-self: center;
        }
        .card {
          overflow: hidden;
          max-height: 700px;
          .card-img {
            width: 150% !important;
          }
        }
      }
    }
  }
}
